docs/n8n-backups/WF13_SR_Dispatch_P3h1q0xScdLh3k2t_2026-06-23.json
{
  "updatedAt": "2026-06-20T11:04:03.995Z",
  "createdAt": "2026-05-29T02:38:41.541Z",
  "id": "P3h1q0xScdLh3k2t",
  "name": "SCC - WF13 Subcontractor Dispatch",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "scc-subcontract-rfq-dispatch",
      "parameters": {
        "httpMethod": "POST",
        "path": "scc-subcontract-rfq-dispatch",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      }
    },
    {
      "id": "val",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "parameters": {
        "jsCode": "const b=$json.body||{};\nif(!b.rfq_id) return [{json:{error:true,message:'Missing rfq_id'}}];\nconst sel = Array.isArray(b.selected_vendor_ids) ? b.selected_vendor_ids.filter(Boolean) : null;\nreturn [{json:{error:false, rfq_id:b.rfq_id, deadline:b.deadline||'[To be confirmed]', selected_vendor_ids: sel}}];\n"
      }
    },
    {
      "id": "err",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "v1",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "r400",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        660,
        140
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:false,message:$json.message}) }}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "r200",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        660,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success:true,message:'Dispatch started',rfq_id:$json.rfq_id}) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "Fetch RFQ",
      "name": "Fetch RFQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        420
      ],
      "parameters": {
        "url": "https://fimfybfgjrbkcylmyekz.supabase.co/rest/v1/rfqs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "rfq_id",
              "value": "={{ `eq.${$('Validate Input').first().json.rfq_id}` }}"
            },
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
            },
            {
              "name": "Accept-Profile",
              "value": "scc_procurement"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "Fetch Vendors",
      "name": "Fetch Vendors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        420
      ],
      "parameters": {
        "url": "https://fimfybfgjrbkcylmyekz.supabase.co/rest/v1/rfq_vendors",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "rfq_id",
              "value": "={{ `eq.${$('Validate Input').first().json.rfq_id}` }}"
            },
            {
              "name": "email_to",
              "value": "not.is.null"
            },
            {
              "name": "select",
              "value": "id,vendor_id,email_to,contact_person,status"
            },
            {
              "name": "limit",
              "value": "500"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
            },
            {
              "name": "Accept-Profile",
              "value": "scc_procurement"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "share",
      "name": "Share Folder Anyone",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1320,
        420
      ],
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Fetch RFQ').first().json.drive_folder_id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5zccNVQQi5vGfW2R",
          "name": "Google Drive Procurement"
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "prep",
      "name": "Prepare Vendor Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        420
      ],
      "parameters": {
        "jsCode": "const sel = $('Validate Input').first().json.selected_vendor_ids;\nconst allow = Array.isArray(sel) ? new Set(sel) : null;\n// B1 SAFETY GATE: subcontractor dispatch emails ONLY explicitly-selected vendors.\n// No selection (null/empty) => send to NONE (never send-to-all).\nconst seen=new Set(); const out=[];\nif(allow && allow.size>0){\n  for(const v of $('Fetch Vendors').all()){\n    const j=v.json;\n    if(!j||!j.id||!j.email_to||seen.has(j.id))continue;\n    if(!allow.has(j.vendor_id))continue;   // gate on vendor_id\n    seen.add(j.id); out.push({json:j});\n  }\n}\nreturn out;\n"
      }
    },
    {
      "id": "loop",
      "name": "Loop Vendors",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1760,
        420
      ],
      "parameters": {
        "options": {}
      }
    },
    {
      "id": "Update RFQ Issued",
      "name": "Update RFQ Issued",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        260
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://fimfybfgjrbkcylmyekz.supabase.co/rest/v1/rfqs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "rfq_id",
              "value": "={{ `eq.${$('Validate Input').first().json.rfq_id}` }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
            },
            {
              "name": "Content-Profile",
              "value": "scc_procurement"
            },
            {
              "name": "Accept-Profile",
              "value": "scc_procurement"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({status:'issued', sent_at:new Date().toISOString(), deadline:$('Validate Input').first().json.deadline}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "bemail",
      "name": "Build Email Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        560
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const v=$('Loop Vendors').item.json;\nconst rfq=$('Fetch RFQ').first().json;\nconst deadline=$('Validate Input').first().json.deadline||'[To be confirmed]';\nconst name=v.contact_person||'Sir';\nconst sender=rfq.created_by||'Procurement Department';\nlet body=rfq.covering_email_body||'';\nbody=body.split('[Contact Person]').join(name);\nbody=body.split('[SENDER_NAME]').join(sender);\nbody=body.split('[DEADLINE]').join(deadline);\nreturn {json:{email_to:v.email_to, contact_person:name, subject:rfq.covering_email_subject, body}};"
      }
    },
    {
      "id": "send",
      "name": "Send RFQ Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2200,
        560
      ],
      "parameters": {
        "sendTo": "={{ $json.email_to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "DeLrpWhS3LyOKQjn",
          "name": "sarooj procurement gmail"
        }
      }
    },
    {
      "id": "Update Vendor Sent",
      "name": "Update Vendor Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        560
      ],
      "parameters": {
        "method": "PATCH",
        "url": "https://fimfybfgjrbkcylmyekz.supabase.co/rest/v1/rfq_vendors",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ `eq.${$('Loop Vendors').item.json.id}` }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
            },
            {
              "name": "Content-Profile",
              "value": "scc_procurement"
            },
            {
              "name": "Accept-Profile",
              "value": "scc_procurement"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({status:'sent', sent_at:new Date().toISOString(), personalised_email_body:$('Build Email Body').item.json.body}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "wait",
      "name": "Wait 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2640,
        560
      ],
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "webhookId": "scc-subcon-dispatch-wait"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200": {
      "main": [
        [
          {
            "node": "Fetch RFQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RFQ": {
      "main": [
        [
          {
            "node": "Fetch Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Vendors": {
      "main": [
        [
          {
            "node": "Share Folder Anyone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share Folder Anyone": {
      "main": [
        [
          {
            "node": "Prepare Vendor Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Vendor Loop": {
      "main": [
        [
          {
            "node": "Loop Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Vendors": {
      "main": [
        [
          {
            "node": "Update RFQ Issued",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Body": {
      "main": [
        [
          {
            "node": "Send RFQ Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send RFQ Email": {
      "main": [
        [
          {
            "node": "Update Vendor Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Vendor Sent": {
      "main": [
        [
          {
            "node": "Wait 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1s": {
      "main": [
        [
          {
            "node": "Loop Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "1a67129b-95c3-4af9-92e5-14a0b1b42f4c",
  "activeVersionId": "1a67129b-95c3-4af9-92e5-14a0b1b42f4c",
  "versionCounter": 19,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-29T02:38:41.545Z",
      "createdAt": "2026-05-29T02:38:41.545Z",
      "role": "workflow:owner",
      "workflowId": "P3h1q0xScdLh3k2t",
      "projectId": "EPVZnKbPnQZ07y5X",
      "project": {
        "updatedAt": "2026-05-08T07:21:35.202Z",
        "createdAt": "2025-08-13T16:14:02.616Z",
        "id": "EPVZnKbPnQZ07y5X",
        "name": "Younus Shafi <younus.shafi@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "0aa0680b-0420-48ef-8c58-f6b1041c07b7",
        "projectRelations": [
          {
            "updatedAt": "2025-08-13T16:14:02.617Z",
            "createdAt": "2025-08-13T16:14:02.617Z",
            "userId": "0aa0680b-0420-48ef-8c58-f6b1041c07b7",
            "projectId": "EPVZnKbPnQZ07y5X",
            "user": {
              "updatedAt": "2026-06-23T16:34:51.000Z",
              "createdAt": "2025-08-13T16:14:01.773Z",
              "id": "0aa0680b-0420-48ef-8c58-f6b1041c07b7",
              "email": "younus.shafi@gmail.com",
              "firstName": "Younus",
              "lastName": "Shafi",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-14T09:21:53.611Z",
                "personalization_survey_n8n_version": "1.106.3",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "engineering",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "xkosnwxtvVmxlAkV",
                "userActivatedAt": 1757096940080,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1776506505432
                }
              },
              "disabled": false,
              "mfaEnabled": true,
              "lastActiveAt": "2026-06-22",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-20T11:04:03.999Z",
    "createdAt": "2026-06-20T11:04:03.999Z",
    "versionId": "1a67129b-95c3-4af9-92e5-14a0b1b42f4c",
    "workflowId": "P3h1q0xScdLh3k2t",
    "nodes": [
      {
        "id": "wh",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          300
        ],
        "webhookId": "scc-subcontract-rfq-dispatch",
        "parameters": {
          "httpMethod": "POST",
          "path": "scc-subcontract-rfq-dispatch",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        }
      },
      {
        "id": "val",
        "name": "Validate Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          220,
          300
        ],
        "parameters": {
          "jsCode": "const b=$json.body||{};\nif(!b.rfq_id) return [{json:{error:true,message:'Missing rfq_id'}}];\nconst sel = Array.isArray(b.selected_vendor_ids) ? b.selected_vendor_ids.filter(Boolean) : null;\nreturn [{json:{error:false, rfq_id:b.rfq_id, deadline:b.deadline||'[To be confirmed]', selected_vendor_ids: sel}}];\n"
        }
      },
      {
        "id": "err",
        "name": "Has Error?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          440,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "v1",
                "leftValue": "={{ $json.error }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "r400",
        "name": "Respond 400",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          660,
          140
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({success:false,message:$json.message}) }}",
          "options": {
            "responseCode": 400
          }
        }
      },
      {
        "id": "r200",
        "name": "Respond 200",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          660,
          420
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({success:true,message:'Dispatch started',rfq_id:$json.rfq_id}) }}",
          "options": {
            "responseCode": 200
          }
        }
      },
      {
        "id": "Fetch RFQ",
        "name": "Fetch RFQ",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          880,
          420
        ],
        "parameters": {
          "url": "https://fimfybfgjrbkcylmyekz.supabase.co/rest/v1/rfqs",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "rfq_id",
                "value": "={{ `eq.${$('Validate Input').first().json.rfq_id}` }}"
              },
              {
                "name": "select",
                "value": "*"
              },
              {
                "name": "limit",
                "value": "1"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
              },
              {
                "name": "Accept-Profile",
                "value": "scc_procurement"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "alwaysOutputData": true
      },
      {
        "id": "Fetch Vendors",
        "name": "Fetch Vendors",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1100,
          420
        ],
        "parameters": {
          "url": "https://fimfybfgjrbkcylmyekz.supabase.co/rest/v1/rfq_vendors",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "rfq_id",
                "value": "={{ `eq.${$('Validate Input').first().json.rfq_id}` }}"
              },
              {
                "name": "email_to",
                "value": "not.is.null"
              },
              {
                "name": "select",
                "value": "id,vendor_id,email_to,contact_person,status"
              },
              {
                "name": "limit",
                "value": "500"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
              },
              {
                "name": "Accept-Profile",
                "value": "scc_procurement"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "alwaysOutputData": true
      },
      {
        "id": "share",
        "name": "Share Folder Anyone",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1320,
          420
        ],
        "parameters": {
          "operation": "share",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Fetch RFQ').first().json.drive_folder_id }}",
            "mode": "id"
          },
          "permissionsUi": {
            "permissionsValues": {
              "role": "reader",
              "type": "anyone"
            }
          },
          "options": {}
        },
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "5zccNVQQi5vGfW2R",
            "name": "Google Drive Procurement"
          }
        },
        "alwaysOutputData": true
      },
      {
        "id": "prep",
        "name": "Prepare Vendor Loop",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1540,
          420
        ],
        "parameters": {
          "jsCode": "const sel = $('Validate Input').first().json.selected_vendor_ids;\nconst allow = Array.isArray(sel) ? new Set(sel) : null;\n// B1 SAFETY GATE: subcontractor dispatch emails ONLY explicitly-selected vendors.\n// No selection (null/empty) => send to NONE (never send-to-all).\nconst seen=new Set(); const out=[];\nif(allow && allow.size>0){\n  for(const v of $('Fetch Vendors').all()){\n    const j=v.json;\n    if(!j||!j.id||!j.email_to||seen.has(j.id))continue;\n    if(!allow.has(j.vendor_id))continue;   // gate on vendor_id\n    seen.add(j.id); out.push({json:j});\n  }\n}\nreturn out;\n"
        }
      },
      {
        "id": "loop",
        "name": "Loop Vendors",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1760,
          420
        ],
        "parameters": {
          "options": {}
        }
      },
      {
        "id": "Update RFQ Issued",
        "name": "Update RFQ Issued",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1980,
          260
        ],
        "parameters": {
          "method": "PATCH",
          "url": "https://fimfybfgjrbkcylmyekz.supabase.co/rest/v1/rfqs",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "rfq_id",
                "value": "={{ `eq.${$('Validate Input').first().json.rfq_id}` }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
              },
              {
                "name": "Content-Profile",
                "value": "scc_procurement"
              },
              {
                "name": "Accept-Profile",
                "value": "scc_procurement"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({status:'issued', sent_at:new Date().toISOString(), deadline:$('Validate Input').first().json.deadline}) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "alwaysOutputData": true
      },
      {
        "id": "bemail",
        "name": "Build Email Body",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1980,
          560
        ],
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const v=$('Loop Vendors').item.json;\nconst rfq=$('Fetch RFQ').first().json;\nconst deadline=$('Validate Input').first().json.deadline||'[To be confirmed]';\nconst name=v.contact_person||'Sir';\nconst sender=rfq.created_by||'Procurement Department';\nlet body=rfq.covering_email_body||'';\nbody=body.split('[Contact Person]').join(name);\nbody=body.split('[SENDER_NAME]').join(sender);\nbody=body.split('[DEADLINE]').join(deadline);\nreturn {json:{email_to:v.email_to, contact_person:name, subject:rfq.covering_email_subject, body}};"
        }
      },
      {
        "id": "send",
        "name": "Send RFQ Email",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2,
        "position": [
          2200,
          560
        ],
        "parameters": {
          "sendTo": "={{ $json.email_to }}",
          "subject": "={{ $json.subject }}",
          "message": "={{ $json.body }}",
          "options": {}
        },
        "credentials": {
          "gmailOAuth2": {
            "id": "DeLrpWhS3LyOKQjn",
            "name": "sarooj procurement gmail"
          }
        }
      },
      {
        "id": "Update Vendor Sent",
        "name": "Update Vendor Sent",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2420,
          560
        ],
        "parameters": {
          "method": "PATCH",
          "url": "https://fimfybfgjrbkcylmyekz.supabase.co/rest/v1/rfq_vendors",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "id",
                "value": "={{ `eq.${$('Loop Vendors').item.json.id}` }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
              },
              {
                "name": "Content-Profile",
                "value": "scc_procurement"
              },
              {
                "name": "Accept-Profile",
                "value": "scc_procurement"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({status:'sent', sent_at:new Date().toISOString(), personalised_email_body:$('Build Email Body').item.json.body}) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "alwaysOutputData": true
      },
      {
        "id": "wait",
        "name": "Wait 1s",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2640,
          560
        ],
        "parameters": {
          "amount": 1,
          "unit": "seconds"
        },
        "webhookId": "scc-subcon-dispatch-wait"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Has Error?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Error?": {
        "main": [
          [
            {
              "node": "Respond 400",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond 200",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respond 200": {
        "main": [
          [
            {
              "node": "Fetch RFQ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch RFQ": {
        "main": [
          [
            {
              "node": "Fetch Vendors",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Vendors": {
        "main": [
          [
            {
              "node": "Share Folder Anyone",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Share Folder Anyone": {
        "main": [
          [
            {
              "node": "Prepare Vendor Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Vendor Loop": {
        "main": [
          [
            {
              "node": "Loop Vendors",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Vendors": {
        "main": [
          [
            {
              "node": "Update RFQ Issued",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Email Body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Email Body": {
        "main": [
          [
            {
              "node": "Send RFQ Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send RFQ Email": {
        "main": [
          [
            {
              "node": "Update Vendor Sent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Vendor Sent": {
        "main": [
          [
            {
              "node": "Wait 1s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 1s": {
        "main": [
          [
            {
              "node": "Loop Vendors",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Younus Shafi",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-20T11:04:04.139Z",
        "id": 679,
        "workflowId": "P3h1q0xScdLh3k2t",
        "versionId": "1a67129b-95c3-4af9-92e5-14a0b1b42f4c",
        "event": "activated",
        "userId": "0aa0680b-0420-48ef-8c58-f6b1041c07b7"
      },
      {
        "createdAt": "2026-06-20T11:04:06.106Z",
        "id": 681,
        "workflowId": "P3h1q0xScdLh3k2t",
        "versionId": "1a67129b-95c3-4af9-92e5-14a0b1b42f4c",
        "event": "activated",
        "userId": "0aa0680b-0420-48ef-8c58-f6b1041c07b7"
      },
      {
        "createdAt": "2026-06-20T11:04:04.734Z",
        "id": 680,
        "workflowId": "P3h1q0xScdLh3k2t",
        "versionId": "1a67129b-95c3-4af9-92e5-14a0b1b42f4c",
        "event": "deactivated",
        "userId": "0aa0680b-0420-48ef-8c58-f6b1041c07b7"
      }
    ]
  }
}