docs/n8n-backups/WF6_Invite_REVnviNEV0ly3kgd_2026-06-24.json
{
  "updatedAt": "2026-05-26T03:36:54.378Z",
  "createdAt": "2026-05-23T11:57:25.510Z",
  "id": "REVnviNEV0ly3kgd",
  "name": "SCC - Vendor Invite Pipeline",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vendor-invite",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e231bd0c-a7bc-41f5-83bd-b5e7d9221f62",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        384
      ],
      "webhookId": "vendor-invite"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst required = ['vendor_name', 'contact_person', 'email', 'category'];\nconst missing = required.filter(f => !body[f] || String(body[f]).trim() === '');\nif (missing.length > 0) {\n  return [{ json: { __error: true, message: 'Missing required fields: ' + missing.join(', ') } }];\n}\nreturn [{ json: body }];"
      },
      "id": "6ba9a9a7-ab10-4ad2-b2ce-fcd0f63a0b5c",
      "name": "Validate Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.__error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "10884e9d-ccba-439f-a665-bc01700ec5d5",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        288,
        384
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({\"success\": false, \"message\": $json.message}) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "b89e6b86-c10d-49e3-957b-02368c550661",
      "name": "Respond Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        576,
        240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a warm, professional invitation email from Sarooj Construction Company Procurement Team to {{ $json.contact_person }} at {{ $json.vendor_name }}, inviting them to register as a vendor in the {{ $json.category }} category. Include this registration URL: {{ $json.registration_url }}. {{ $json.personal_message ? 'Weave in this personal note naturally: ' + $json.personal_message : '' }} Keep it under 200 words. Return only the email body as plain HTML paragraphs. Do not include a subject line.",
        "options": {
          "systemMessage": "You are an expert business communication writer for Sarooj Construction Company, a leading construction company in Oman. Write concise, professional, and warm invitation emails. Use HTML paragraph tags only. Do not include a subject line."
        }
      },
      "id": "e437f733-4e34-4aaf-88f5-9183cc5519ea",
      "name": "AI Agent - Generate Invite Email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        544,
        496
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "348b391d-d01c-42e2-a1f9-bf75ace49b8d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        576,
        768
      ],
      "credentials": {
        "openAiApi": {
          "id": "PpiTCPKVnei6pTtZ",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Validate Fields').first().json.email }}",
        "subject": "Sarooj Construction Company — Vendor Registration Invitation",
        "message": "={{ $json.output }}",
        "options": {
          "senderName": "Sarooj Procurement Team"
        }
      },
      "id": "c0f34275-0b45-4263-b826-0f483e2508c4",
      "name": "Gmail - Send Invite",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        864,
        544
      ],
      "webhookId": "88b95a17-1723-450d-b2a5-c4f808a6079d",
      "credentials": {
        "gmailOAuth2": {
          "id": "DeLrpWhS3LyOKQjn",
          "name": "sarooj procurement gmail"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fimfybfgjrbkcylmyekz.supabase.co/rest/v1/vendor_candidates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Content-Profile",
              "value": "scc_procurement"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\"company_name\": $('Validate Fields').first().json.vendor_name, \"email\": $('Validate Fields').first().json.email, \"category\": $('Validate Fields').first().json.category, \"contact_person\": $('Validate Fields').first().json.contact_person, \"personal_message\": $('Validate Fields').first().json.personal_message || \"\", \"source\": \"invite\", \"status\": \"form_sent\", \"outreach_sent_at\": new Date().toISOString()}) }}",
        "options": {}
      },
      "id": "000d229a-a692-4441-8227-4246e7ce32bc",
      "name": "Supabase - Log Invite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        544
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({\"success\": true, \"message\": \"Invitation sent successfully\"}) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "72290c56-179a-4bff-b7cd-255723ac0329",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1312,
        544
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Fields": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Respond Validation Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent - Generate Invite Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Generate Invite Email": {
      "main": [
        [
          {
            "node": "Gmail - Send Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Generate Invite Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send Invite": {
      "main": [
        [
          {
            "node": "Supabase - Log Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Log Invite": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "012bfabe-7a97-4891-8d70-8c5da35521e8",
  "activeVersionId": "012bfabe-7a97-4891-8d70-8c5da35521e8",
  "versionCounter": 45,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-23T11:57:25.514Z",
      "createdAt": "2026-05-23T11:57:25.514Z",
      "role": "workflow:owner",
      "workflowId": "REVnviNEV0ly3kgd",
      "projectId": "EPVZnKbPnQZ07y5X",
      "project": {
        "updatedAt": "2026-05-08T07:21:35.202Z",
        "createdAt": "2025-08-13T16:14:02.616Z",
        "id": "EPVZnKbPnQZ07y5X",
        "name": "Younus Shafi <younus.shafi@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "0aa0680b-0420-48ef-8c58-f6b1041c07b7",
        "projectRelations": [
          {
            "updatedAt": "2025-08-13T16:14:02.617Z",
            "createdAt": "2025-08-13T16:14:02.617Z",
            "userId": "0aa0680b-0420-48ef-8c58-f6b1041c07b7",
            "projectId": "EPVZnKbPnQZ07y5X",
            "user": {
              "updatedAt": "2026-06-24T16:23:28.000Z",
              "createdAt": "2025-08-13T16:14:01.773Z",
              "id": "0aa0680b-0420-48ef-8c58-f6b1041c07b7",
              "email": "younus.shafi@gmail.com",
              "firstName": "Younus",
              "lastName": "Shafi",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-08-14T09:21:53.611Z",
                "personalization_survey_n8n_version": "1.106.3",
                "automationGoalDevops": [
                  "data-syncing"
                ],
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "engineering",
                "reportedSource": "linkedin"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "xkosnwxtvVmxlAkV",
                "userActivatedAt": 1757096940080,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1776506505432
                }
              },
              "disabled": false,
              "mfaEnabled": true,
              "lastActiveAt": "2026-06-23",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-26T03:36:58.000Z",
    "createdAt": "2026-05-26T03:36:54.379Z",
    "versionId": "012bfabe-7a97-4891-8d70-8c5da35521e8",
    "workflowId": "REVnviNEV0ly3kgd",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "vendor-invite",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "e231bd0c-a7bc-41f5-83bd-b5e7d9221f62",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -160,
          384
        ],
        "webhookId": "vendor-invite"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst required = ['vendor_name', 'contact_person', 'email', 'category'];\nconst missing = required.filter(f => !body[f] || String(body[f]).trim() === '');\nif (missing.length > 0) {\n  return [{ json: { __error: true, message: 'Missing required fields: ' + missing.join(', ') } }];\n}\nreturn [{ json: body }];"
        },
        "id": "6ba9a9a7-ab10-4ad2-b2ce-fcd0f63a0b5c",
        "name": "Validate Fields",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          64,
          384
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "leftValue": "={{ $json.__error }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "10884e9d-ccba-439f-a665-bc01700ec5d5",
        "name": "Has Error?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          288,
          384
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ ({\"success\": false, \"message\": $json.message}) }}",
          "options": {
            "responseCode": 400
          }
        },
        "id": "b89e6b86-c10d-49e3-957b-02368c550661",
        "name": "Respond Validation Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          576,
          240
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Generate a warm, professional invitation email from Sarooj Construction Company Procurement Team to {{ $json.contact_person }} at {{ $json.vendor_name }}, inviting them to register as a vendor in the {{ $json.category }} category. Include this registration URL: {{ $json.registration_url }}. {{ $json.personal_message ? 'Weave in this personal note naturally: ' + $json.personal_message : '' }} Keep it under 200 words. Return only the email body as plain HTML paragraphs. Do not include a subject line.",
          "options": {
            "systemMessage": "You are an expert business communication writer for Sarooj Construction Company, a leading construction company in Oman. Write concise, professional, and warm invitation emails. Use HTML paragraph tags only. Do not include a subject line."
          }
        },
        "id": "e437f733-4e34-4aaf-88f5-9183cc5519ea",
        "name": "AI Agent - Generate Invite Email",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          544,
          496
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "id": "348b391d-d01c-42e2-a1f9-bf75ace49b8d",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          576,
          768
        ],
        "credentials": {
          "openAiApi": {
            "id": "PpiTCPKVnei6pTtZ",
            "name": "OpenAI Account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "={{ $('Validate Fields').first().json.email }}",
          "subject": "Sarooj Construction Company — Vendor Registration Invitation",
          "message": "={{ $json.output }}",
          "options": {
            "senderName": "Sarooj Procurement Team"
          }
        },
        "id": "c0f34275-0b45-4263-b826-0f483e2508c4",
        "name": "Gmail - Send Invite",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          864,
          544
        ],
        "webhookId": "88b95a17-1723-450d-b2a5-c4f808a6079d",
        "credentials": {
          "gmailOAuth2": {
            "id": "DeLrpWhS3LyOKQjn",
            "name": "sarooj procurement gmail"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://fimfybfgjrbkcylmyekz.supabase.co/rest/v1/vendor_candidates",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpbWZ5YmZnanJia2N5bG15ZWt6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTk1MjQsImV4cCI6MjA5NDY5NTUyNH0.F85OZSHUJAaHFmg1FlPfMfUrDMK4f_6WslRLo_5Wv0Q"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              },
              {
                "name": "Content-Profile",
                "value": "scc_procurement"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ ({\"company_name\": $('Validate Fields').first().json.vendor_name, \"email\": $('Validate Fields').first().json.email, \"category\": $('Validate Fields').first().json.category, \"contact_person\": $('Validate Fields').first().json.contact_person, \"personal_message\": $('Validate Fields').first().json.personal_message || \"\", \"source\": \"invite\", \"status\": \"form_sent\", \"outreach_sent_at\": new Date().toISOString()}) }}",
          "options": {}
        },
        "id": "000d229a-a692-4441-8227-4246e7ce32bc",
        "name": "Supabase - Log Invite",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1088,
          544
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ ({\"success\": true, \"message\": \"Invitation sent successfully\"}) }}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "72290c56-179a-4bff-b7cd-255723ac0329",
        "name": "Respond Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1312,
          544
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Validate Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Fields": {
        "main": [
          [
            {
              "node": "Has Error?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Error?": {
        "main": [
          [
            {
              "node": "Respond Validation Error",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent - Generate Invite Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent - Generate Invite Email": {
        "main": [
          [
            {
              "node": "Gmail - Send Invite",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent - Generate Invite Email",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Gmail - Send Invite": {
        "main": [
          [
            {
              "node": "Supabase - Log Invite",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase - Log Invite": {
        "main": [
          [
            {
              "node": "Respond Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Younus Shafi",
    "name": "Version 012bfabe",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-26T03:36:58.720Z",
        "id": 271,
        "workflowId": "REVnviNEV0ly3kgd",
        "versionId": "012bfabe-7a97-4891-8d70-8c5da35521e8",
        "event": "activated",
        "userId": "0aa0680b-0420-48ef-8c58-f6b1041c07b7"
      }
    ]
  }
}